@model ChangePaswordVieewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Пароль</title>
    <link href="~/css/styleRegis.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <h1>Пароль</h1>




    <form asp-action="ChangePassword" asp-controller="User" asp-route-id="@Model.Id" method="post">
        <fieldset class="block">
            <legend>Пароль пользователя</legend>
            
            <div>
                <label asp-for="OldPassword">Введите старый пароль</label><br />
                <input type="password" asp-for="OldPassword"  class="form-control"/>

            </div>
            <div>
                <label asp-for="NewPassword">Введите новый пароль</label><br />
                <input type="password" asp-for="NewPassword"  class="form-control" />

            </div>


            <div class="sum">
                <button type="submit" class="but">Изменить</button>
            </div>


        </fieldset>




    </form>
    <div class="col">
        <a href="~/User/Index?userid=@Model.Id" type="submit" class="btn btn-primary">Back</a>
    </div>
</body>
</html>

