@model Student
    <div class="row p-2">
        <div class="col-1">@Model.Name</div>
        <div class="col-1">@Model.Soname</div>
    </div>
    <div class="row p-2">
        <div class="col">Age</div>        
        <div class="col">Gender</div>       
        <div class="col"></div>
    </div>
    <div class="row p-2">
        
        <div class="col">@Model.Age</div>
        
        <div class="col">@Model.Gender</div>

        <div class="col"></div>
    </div>