body{
background-color: #21242e;
  font-family: Arial;
}
h1{
  color: white;
  text-align: center;
}

fieldset.block{
  background-color: #cb2354;
  color:white;
}
label{
  float: left;
  padding-right: 4%;
  text-align: right;
  width: 10px;
}
div{
  padding: 0.5%;
  width: auto;
}
input.but{
  color: white;
  background-color: #21242e;
}
